<div class="cards">
<h4 class="booking-title">Booking History</h4>
<% @bookings.each do |booking| %>
<div class="card-container">
<div class="card-img">
<%= link_to booking_path(booking.id) do %>
<%= cl_image_tag (booking.offer.photo.key).to_s, height: 250, width: 300, crop: :fill %>
<% end %>
</div>
<div class="card-text">
 <p class="index-card-text">$<%= booking.offer.price%></p>
 <p class="index-card-text-2"><%= booking.offer.size%></p>
</div>
</div>
<% end %>
</div>
