<h1>All Offers</h1>

<ul>
  <% @offers.each do |offer| %>
    <li><%= link_to offer.title, offer_path(offer)%></li>
    <p>------------</p>
    <p><%= offer.description %></p>
    <p><%= offer.price %></p>
  <% end %>
</ul>
