



.header {
display: flex;
position: fixed;
z-index: 25;
justify-content: space-between;
align-items: baseline;
border-bottom-width: 2px solid rgb(55, 55, 55);
height: 80px;
padding-left: 50px;
background-color: rgb(255, 255, 255);
right: 0;
left: 0;
top: 0;
}

.navbar-link {
text-decoration: none;
font-weight: bold;
color: black;
margin-right: 5px;
margin-left: 5px;
}

.middle-section {
width: 400px;
margin-top: 20px;
}
